listen=YES
log_ftp_protocol=YES
xferlog_enable=YES
allow_writeable_chroot=YES
use_localtime=YES
connect_from_port_20=YES
dirmessage_enable=YES
hide_ids=YES
delete_failed_uploads=YES
anonymous_enable=NO
write_enable=YES
local_enable=YES
guest_enable=YES
chroot_local_user=YES
virtual_use_local_privs=YES
ftpd_banner=Welcome to FTP
user_sub_token=$USER
local_root=/srv/ftp/$USER
nopriv_user=ftp
max_clients=30
max_per_ip=20
# For Debian: will be -rw-rw-r--
local_umask=002
pasv_min_port=9000
pasv_max_port=12000
secure_chroot_dir=/var/run/vsftpd/empty
