ftpd_banner=Welcome to FTP
listen=YES
anonymous_enable=NO
xferlog_enable=YES
use_localtime=YES
connect_from_port_20=YES
hide_ids=YES
delete_failed_uploads=YES
local_enable=YES
user_config_dir=/etc/vsftpd.d
virtual_use_local_privs=YES
write_enable=YES
guest_enable=YES
chroot_local_user=YES
allow_writeable_chroot=YES
user_sub_token=$USER
local_root=/srv/ftp/$USER
max_per_ip=100
pasv_min_port=10000
pasv_max_port=14000
